main{
    min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3{
    padding:1rem 0;
}

.rating span{
  margin:0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.product-img{
  height: 40vh;
  

object-fit: cover;
}

.card{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 108%;
  height: auto;
  margin-top: 20px;
  
  background-color: rgb(243, 243, 237)!important;
  
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.zoom {
 
 
  transition: transform .2s;
 
  margin: 0 auto;
}